.submenu-enter {
  opacity: 0;
}
.submenu-enter-active {
  opacity: 1;
  transition: opacity 400ms;
}
.submenu-exit {
  opacity: 1;
}
.submenu-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}
.dropdown-container {
  height: 0;
  transition: height 1s ease-in-out;
  overflow: hidden;
  background: white;
}
