.submenu-enter {
  opacity: 0;
}
.submenu-enter-active {
  opacity: 1;
  transition: opacity 400ms;
}
.submenu-exit {
  opacity: 1;
}
.submenu-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}
.dropdown-container {
  height: 0;
  transition: height 1s ease-in-out;
  overflow: hidden;
  background: white;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #0f8888;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
